section.prices  
    .l-default
        h2.prices__title.title.title--h2 Тарифы
        .slider-pagination
        .prices__items.swiper-container     
            .swiper-wrapper
                .prices__item.swiper-slide
                    .prices__item-top
                        .prices__item-icon
                            img(src="img/svg/prices/1.svg", alt="")
                        .prices__item-texts
                            .prices__item-subtitle тариф
                            .prices__item-title базовый
                    .prices__item-content
                        .prices__list
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item.disabled
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item.disabled
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item.disabled
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                        .prices__price 8 990 руб
                        a.prices__btn.btn.btn--orange(href="") Выбрать
                .prices__item.swiper-slide
                    .prices__item-top
                        .prices__item-icon
                            img(src="img/svg/prices/2.svg", alt="")
                        .prices__item-texts
                            .prices__item-subtitle тариф
                            .prices__item-title Invest Heroes PLUS
                    .prices__item-content
                        .prices__list
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                            .prices__list-item
                                .prices__list-item--icon
                                    img(src="img/svg/check.svg")
                                .prices__list-item--text Включает в себя
                        .prices__price 8 990 руб
                        a.prices__btn.btn.btn--orange(href="") Выбрать