section.main-top
    .l-default 
        .main-top__content
            .main-top__info
                h1.main-top__title.title.title--h1 Диагностика портфеля
                .main-top__text Разберем ваш текущей портфель или соберем новый с нуля вместе с вами!
                a.main-top__btn.btn.btn--blue(href="") Записаться на консультацию
            .main-top__img 
                +webp(['main-top/1'], 'png')