- 
    const what_items = [
        {
            icon: '1',
            title: 'Понимание сильных и слабых сторон текущего портфеля',
            text: 'Вы поймете правильно ли он составлен, и как привести его к разумной структуре (исходя из ваших целей)',
            list: ['Мы проанализируем его сбалансированность, риск, соответствие макро ситуации / оценим его потенциал доходности', 'Покажем, защищает ли такой портфель от инфляции / девальвации / насколько выиграет роста курса $']
        },
        {
            icon: '2',
            title: 'Понимание перспективных и, наоборот, слабых активов, которые тянут вас вниз',
            text: 'Вы поймете, какие бумаги вероятно не вырастут, какие более рисковые, а какие более надежные на наш взгляд, плюс оценку потенциала их роста',
            list: ['Дадим комментарий по каждой позиции (статус BUY/SELL/HOLD + потенциал + потенциал дивидендов)', 'Опишем ключевой риск вашим бумагам (при наступлении которого идея не сработает)', 'Пришлем отчеты (в рамках покрытия IH), чтобы вы поняли потенциал оценки ваших акций', 'Предложим 3 идеи как усилить потенциал портфеля (какие бумаги можно убрать, а какие докупить)']
        },
        {
            icon: '3',
            title: 'Опишем среднесрочную тактику на 6 месяцев, которую считаем оптимальной для частных инвесторов',
            text: 'Вы узнаете основные приемы, которые по мнению наших стратегов обладают хорошим соотношением доходности и риска / каких отраслей лучше избегать, а какие более надежны',
            list: []
        },
        {
            icon: '4',
            title: 'Дадим вам макро картину происходящего',
            text: 'Ежемесячный отчет по отраслям + MACRO MATTERS (видео обзор и презентация от нашего стратега Сергея Пирогова)',
            list: []
        },
    ]

section.what.section--blue
    .l-default 
        h2.what__title.title.title--h2 Что дает вам диагностика?
        .slider-pagination
        .what__items.swiper-container   
            .swiper-wrapper
                each what_item in what_items
                    .what__item.swiper-slide
                        .what__item-icon
                            img(src="img/svg/what/" + what_item.icon + ".svg", alt="")
                        .what__item-title= what_item.title
                        .what__item-text= what_item.text
                        ul.what__item-list    
                            each what_list_item in what_item.list
                                li= what_list_item
        .what__bottom
            .what__bottom-text Это весьма подробные обзоры, которые дадут вам возможность вчитаться в ситуацию и понять, на какую логику опирается наш прогноз