.what {
    position: relative;
    z-index: 1;
    margin-top: -100px;

    @media screen and (max-width: 1099px) {
        margin-top: -50px;
    }

    @media screen and (max-width: 991px) {
        margin-top: 0;
    }

    .l-default {
        position: relative;
        padding: 77px 0 65px;

        @media screen and (max-width: 1199px) {
            padding: 32px 20px 28px;
        }

        &:after {
            content: '';
            position: absolute;
            top: -2px;
            right: 0;
            width: 40%;
            height: 201px;
            background: #fff;
            transform: skew(51deg);
            border-bottom-left-radius: 10px;

            @media screen and (max-width: 991px) {
                width: 50%;
                height: 101px;
            }

            @media screen and (max-width: 600px) {
                width: 40%;
                height: 61px;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: -1px;
        z-index: 5;
        width: 25%;
        height: 200px;
        background: #fff;
        border-bottom-left-radius: 10px;
        
        @media screen and (max-width: 991px) {
            height: 100px;
        }

        @media screen and (max-width: 600px) {
            width: 20%;
            height: 60px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 4;
        width: 50%;
        height: 200px;
        background: $blue;
        border-top-right-radius: 10px;

        @media screen and (max-width: 991px) {
            height: 100px;
        }

        @media screen and (max-width: 600px) {
            width: 80%;
            height: 60px;
        }
    }

    &__title {
        max-width: 369px;
        margin-bottom: 61px;

        @media screen and (max-width: 1199px) {
            margin-bottom: 32px;
        }
    }

    &__items {
        margin-bottom: 67px;

        @media screen and (max-width: 600px) {
            margin-bottom: 23px;
        }
    }

    &__item {
        margin-bottom: 55px;

        @media screen and (max-width: 600px) {
            margin-bottom: 0;    
        }

        &-icon {
            width: 46px;
            margin-bottom: 18px;

            @media screen and (max-width: 600px) {
                width: 31px;
                margin-bottom: 9px;
            }
        }

        &-title {
            font-size: 24px;
            line-height: 120%;
            font-weight: 900;
            margin-bottom: 8px;

            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
        }

        &-text, li {
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 20px;

            @media screen and (max-width: 600px) {
                font-size: 15px;
            }
        }

        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__bottom {
        font-size: 20px;
        line-height: 120%;
        border-top: 1px solid rgba(#fff, .4);
        padding-top: 39px;

        @media screen and (max-width: 600px) {
            font-size: 15px;
        }
    }

    .swiper-wrapper {
        @media screen and (min-width: 600px) {
            flex-direction: column;
            transform: translate(0) !important;
        }
    }

    .swiper-pagination {
        &-bullets {
            display: none;
            margin-bottom: 20px;

            @media screen and (max-width: 600px) {
                display: flex;
            }
        }
        
        &-bullet {
            background: $blue;
            border: 1px solid #fff;

            &-active {
                background: #fff;
            }
        }
    }
}