section.how
    .l-default 
        h2.how__title.title.title--h2 Как это работает
        .how__items
            .how__item
                .how__item-step Шаг 0
                .how__item-info
                    .how__item-title Оставьте заявку и с вами свяжется наш менеджер
            .how__item
                .how__item-step Шаг 1
                .how__item-info
                    .how__item-title Пришлите нам портфель в виде excel или скриншотов
                    .how__item-text Опишите ваши цели (какую доходность хотели получить / насколько были готовы рисковать) и трудности, с которыми вы столкнулись
            .how__item
                .how__item-step Шаг 2
                .how__item-info
                    .how__item-title В течение недели наши эксперты обработают ваш портфель и пришлют вам:
                    .how__list
                        .how__list-item
                            .how__item-title 1. Отчет по портфелю из 3 разделов
                            ul  
                                li результаты анализа текущего портфеля
                                li разбор позиций внутри портфеля
                                li идеи как его можно усилить / сопоставить с вашими целями (которые вы прислали на шаге 1)
                        .how__list-item
                            .how__item-title 2. Документ с тактикой по рынку от стратегов IH
                            ul  
                                li главные идеи
                                li топ-7 акций на наш выбор
                                li подборку актуальных корпоративных облигаций и евробондов, что мы ждем от рынков и как инвестору воспользоваться конъюнктурой
                        .how__list-item
                            .how__item-title 3. Отчеты и презентации, касательно позиций из портфеля (в рамках покрытия IH*)
                            .how__item-quote * если у вас в портфеле инструменты, которые мы регулярно не анализируем, то дадим комментарий в рамках компетенции наших экспертов, но без отчетов / в отдельных случаях наш шаге 1 можем отказаться от диагностики, если видим, что глубоко не знаем то, во что вы инвестировали
            .how__item.orange
                .how__item-step Шаг 3 
                    span vip
                .how__item-info
                    .how__item-title Наши стратеги (С. Пирогов / И. Белов / А. Сайганов) готовы встретиться с вами через ZOOM и в течение 60-80 минут пройтись по рынку, вашим позициям и вашим целям
                    .how__list
                        ol 
                            li Вы сможете задать все вопросы по рынку / как действовать исходя из ваших задач
                            li Стратег разберет с вами все нюансы по вашим позициям - как ими управлять, что может изменить их потенциал, насколько реально продать проблемные вложения по более оптимальным ценам